.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
   
}

.product-image {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.product-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.product-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

.product-brand {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}

.product-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    padding: 5px 10px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}
